/* 组件颜色 */
.color0 { --background: var( --r0 ); --color: var( --r1 ); }
.color1 { --background: var( --r1 ); --color: var( --r0 ); }
.color2 { --background: var( --r2 ); --color: var( --r2c ); }
.color3 { --background: var( --r3 ); --color: var( --r3c ); }
.color4 { --background: var( --r4 ); --color: var( --r4c ); }
.color5 { --background: var( --r5 ); --color: var( --r5c ); }
.color6 { --background: var( --r6 ); --color: var( --r1 ); }
/* 系统组件 - 容器 */
div#unit {
    width: var( --vw );
    height: var( --vh );
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}
/* 系统组件 - 遮罩图层 */
div#unit div[unitMask] {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb( var( --r0 ), 0.8 );
    pointer-events: all;
}
div#unit div[unitMask].active {
    display: block;
}
/* 系统组件 - 通知器 */
div#unit div[unitToast] {
    --size: 34px;
    --background: rgb( var( --r4 ) );
    --color: rgb( var( --r4c ) );
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    top: calc( ( var( --size ) + 8px ) * -1 );
    left: 0px;
}
div#unit div[unitToast].active {
    top: 80px;
}
div#unit div[unitToast].error {
    --background: rgb( var( --r5 ) );
    --color: rgb( var( --r5c ) );
}
div#unit div[unitToast].toastIn {
    animation: toastIn 200ms 1 linear;
}@keyframes toastIn{
    0%{ top: calc( ( var( --size ) + 8px ) * -1 ); }
    40%{ top: 90px; }
    55%{ top: 70px; }
    70%{ top: 90px; }
    85%{ top: 70px; }
    100%{ top: 80px; }
}
div#unit div[unitToast].toastOut {
    animation: toastOut 120ms 1 linear;
}@keyframes toastOut{
    0%{ top: 80px; }
    100%{ top: calc( ( var( --size ) + 8px ) * -1 ); }
}
div#unit div[unitToast] div.content {
    display: inline-block;
    max-width: calc( 100% - 32px );
    padding-right: calc( var( --size ) / 3 );
    background: var( --background );
    white-space: nowrap;
    pointer-events: all;
    border-radius: var( --radius );
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgb( var( --r1 ), 0.25 );
}
div#unit div[unitToast] div.content * {
    color: var( --color );
    line-height: var( --size );
    vertical-align: middle;
}
div#unit div[unitToast] div.content p.text {
    display: inline-block;
    width: calc( 100% - var( --size ) );
    margin-left: -4px;
}
/* 按钮样式 */
button[unitButton] {
    --size: 34px;
    --padding: 16px;
    --font: var( --fontSize );
    --maskSizeAnimation: 4px;
    --maskSize: 0px;
    width: auto;
    height: calc( var( --size ) );
    padding: 0px;
    background: none;
    border: none;
    border-radius: none;
    cursor: pointer;
    position: relative;
}
button[unitButton].stop { pointer-events: none; cursor: default; opacity: 0.75; }
button[unitButton].typesmall {
    --size: 30px;
    --padding: 12px;
    --font: calc( var( --fontSize ) - 2px );
    --maskSizeAnimation: 2px;
}
button[unitButton].typebig {
    --size: 38px;
    --padding: 20px;
    --font: calc( var( --fontSize ) + 2px );
    --maskSizeAnimation: 5px;
}
button[unitButton] * {
    color: rgb( var( --color ) );
    font-size: var( --font );
    text-decoration: none;
}
button[unitButton] .buttonMask {
    width: calc( 100% + ( var( --maskSize ) * 2 ) );
    height: calc( 100% + ( var( --maskSize ) * 2 ) );
    background: rgb( var( --background ), 0.25 );
    border-radius: calc( var( --radius ) + 2px );
    transition: all 200ms ease;
    animation: none;
    position: absolute;
    left: calc( var( --maskSize ) * -1 );
    top: calc( var( --maskSize ) * -1 );
    z-index: 0;
}
button[unitButton]:hover .buttonMask { --maskSize: var( --maskSizeAnimation ); }
button[unitButton].buttonClick .buttonMask {
    animation: buttonClick 150ms 1 linear;
}@keyframes buttonClick{
    0%{ width: calc( 100% + calc( var( --maskSizeAnimation ) * 2 ) ); height: calc( 100% + calc( var( --maskSizeAnimation ) * 2 ) ); top: calc( var( --maskSizeAnimation ) * -1 ); left: calc( var( --maskSizeAnimation ) * -1 ); }
    50%{ width: 100%; height: 100%; top: 0px; left: 0px; }
    100%{ width: calc( 100% + calc( var( --maskSizeAnimation ) * 2 ) ); height: calc( 100% + calc( var( --maskSizeAnimation ) * 2 ) ); top: calc( var( --maskSizeAnimation ) * -1 ); left: calc( var( --maskSizeAnimation ) * -1 ); }
}
button[unitButton] div.buttonContent {
    display: flex;
    height: 100%;
    padding: 0px var( --padding );
    background: rgb( var( --background ) );
    border-radius: var( --radius );
    align-items: center;
    position: relative;
    z-index: 1;
}
button[unitButton] div.buttonContent i.buttonIcon {
    margin-left: calc( ( var( --padding ) * -1 ) + ( var( --padding ) / 4 ) );
}
button[unitButton] div.buttonContent.onlyIcon i.buttonIcon {
    margin-left: calc( var( --padding ) * -1 );
    margin-right: calc( var( --padding ) * -1 );
}
/* 容器卡片 */
div[unitCard] {
    --padding: calc( var( --step ) * 3 );
    background: rgb( var( --background ) );
    margin-bottom: calc( var( --step ) * 3 );
    color: rgb( var( --color ) );
    border: 1px solid rgb( var( --color ), 0.1 );
    border-radius: var( --radius );
    box-sizing: border-box;
    overflow: hidden;
}
div[unitCard] div.cardTitle {
    --margin: calc( var( --step ) * 1.3 );
    width: 100%;
    padding: var( --margin ) var( --padding );
    border-bottom: 1px solid rgb( var( --color ), 0.1 );
    box-sizing: border-box;
}
div[unitCard] div.cardTitle span {
    display: inline-block;
    width: calc( 100% - 80px );
    line-height: 20px;
}
div[unitCard] div.cardTitleRight {
    float: right;
}
div[unitCard] div.cardTitleRight i {
    float: right;
    width: 26px;
    height: 26px;
    margin-top: -4px;
    margin-left: 4px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb( var( --color ), 0.1 );
    border-radius: var( --radius );
}
div[unitCard].close div.cardTitleRight i:not(.status) { display: none; }
div[unitCard] div.cardContent {
    padding: var( --padding );
    box-sizing: border-box;
    overflow: hidden;
}
div[unitCard].close div.cardContent { display: none; }
@media ( max-width: 580px ) {
    div[unitCard] {
        --padding: calc( var( --step ) * 2 );
    }
    div[unitCard] div.cardTitle {
        --margin: calc( var( --step ) * 1.1 );
    }
}
/* 布局组件 */
ul[unitLayout] {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
ul[unitLayout] > li { display: block; border: 1px solid red; }
ul[unitLayout].layout-ordinary {
    display: flex;
    flex-wrap: wrap;
    gap: var( --gap );
}
ul[unitLayout].layout-ordinary > li { display: inline-block; }
ul[unitLayout].layout-list {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( var( --width ), 1fr ) );
    gap: var( --gap );
}
ul[unitLayout].layout-row {
    display: grid;
    grid-template-columns: repeat( var( --count ), 1fr );
    gap: var( --gap );
}
ul[unitLayout].layout-fall {
    column-count: var( --count );
    column-gap: var( --gap );
}
ul[unitLayout].layout-fall > li {
    display: inline-block;
    width: 100%;
    margin: 0px 0px var( --gap ) 0px;
    break-inside: avoid;
}
@media ( max-width: 580px ) {
    ul[unitLayout].layout-fall {
        column-count: 1;
    }
}
ul[unitLayout].layout-left, ul[unitLayout].layout-right {
    display: flex;
    gap: 8px;
}
ul[unitLayout].layout-left > li:first-child {
    width: var( --width );
    flex: 0 0 var( --width );
}
ul[unitLayout].layout-left > li:last-child {
    flex: 1;
}
ul[unitLayout].layout-right > li:first-child {
    flex: 1;
}
ul[unitLayout].layout-right > li:last-child {
    width: var( --width );
    flex: 0 0 var( --width );
}
@media ( max-width: 680px ) {
    ul[unitLayout].layout-left, ul[unitLayout].layout-right {
        display: grid;
        grid-template-columns: repeat( 1, 1fr );
    }
    ul[unitLayout].layout-left > li, ul[unitLayout].layout-right > li {
        display: block;
        width: 100% !important;
    }
}