/* 组件颜色 */
.color0 { --background: var( --r0 ); --color: var( --r1 ); }
.color1 { --background: var( --r1 ); --color: var( --r0 ); }
.color2 { --background: var( --r2 ); --color: var( --r2c ); }
.color3 { --background: var( --r3 ); --color: var( --r3c ); }
.color4 { --background: var( --r4 ); --color: var( --r4c ); }
.color5 { --background: var( --r5 ); --color: var( --r5c ); }
.color6 { --background: var( --r6 ); --color: var( --r1 ); }
/* 系统组件 - 容器 */
div#unit {
    width: var( --vw );
    height: var( --vh );
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}
/* 系统组件 - 遮罩图层 */
div#unit div[unitMask] {
    width: 100%;
    height: 100%;
    background-color: rgb( var( --r0 ), 0.8 );
    transition: 200ms ease;
    pointer-events: none;
    opacity: 0;
}
div#unit div[unitMask].active {
    pointer-events: all;
    opacity: 1;
}
/* 系统组件 - 通知器 */
div#unit div[unitToast] {
    --size: 34px;
    --background: rgb( var( --r4 ) );
    --color: rgb( var( --r4c ) );
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    top: calc( ( var( --size ) + 8px ) * -1 );
    left: 0px;
}
div#unit div[unitToast].active {
    top: 80px;
}
div#unit div[unitToast].error {
    --background: rgb( var( --r5 ) );
    --color: rgb( var( --r5c ) );
}
div#unit div[unitToast].toastIn {
    animation: toastIn 200ms 1 linear;
}@keyframes toastIn{
    0%{ top: calc( ( var( --size ) + 8px ) * -1 ); }
    40%{ top: 90px; }
    55%{ top: 70px; }
    70%{ top: 90px; }
    85%{ top: 70px; }
    100%{ top: 80px; }
}
div#unit div[unitToast].toastOut {
    animation: toastOut 120ms 1 linear;
}@keyframes toastOut{
    0%{ top: 80px; }
    100%{ top: calc( ( var( --size ) + 8px ) * -1 ); }
}
div#unit div[unitToast] div.content {
    display: inline-block;
    max-width: calc( 100% - 32px );
    padding-right: calc( var( --size ) / 3 );
    background: var( --background );
    white-space: nowrap;
    pointer-events: all;
    border-radius: var( --radius );
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgb( var( --r1 ), 0.25 );
}
div#unit div[unitToast] div.content * {
    color: var( --color );
    line-height: var( --size );
    vertical-align: middle;
}
div#unit div[unitToast] div.content p.text {
    display: inline-block;
    width: calc( 100% - var( --size ) );
    margin-left: -4px;
}
/* 系统组件 - 加载器 */
div#unit div[unitLoading] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
div#unit div[unitLoading] div.content { transition: 200ms ease; transform: scale( 0 ); }
div#unit div[unitLoading].active div.content { transform: scale( 1 ); }
div#unit div[unitLoading] div.content div.loader1 {
    width: fit-content;
    background:
        radial-gradient( 1.13em at 50% 1.6em, rgb( var( --r3 ) ) 99%, #0000 101% ) calc( 50% - 1.6em ) 0 / 3.2em 100% text,
        radial-gradient( 1.13em at 50% -0.8em, #0000 99%, rgb( var( --r3 ) ) 101% ) 50% .8em / 3.2em 100% repeat-x  text;
    font-size: 40px;
    line-height: 1.5;
    font-family: system-ui,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    animation: loader1Animation 2s linear infinite;
    -webkit-text-stroke: 1px rgb( var( --r3 ) );
}@keyframes loader1Animation {
    to { background-position: calc( 50% + 1.6em ) 0,calc( 50% + 3.2em ) .8em; }
}
div#unit div[unitLoading] div.content div.loader1:before {
  content: "Loading";
}
div.cardLoading {
    width: 100%;
    height: 100%;
    background-color: rgb( var( --r0 ), 0.6 );
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
}
div.cardLoading div.loader2 {
    width: 45px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient( rgb( var( --r3 ) ) 0 0 );
    background: var( --c ) 0%   50%, var( --c ) 50%  50%, var( --c ) 100% 50%;
    background-size: 20% 100%;
    animation: loader2Animation 1s infinite linear;
}@keyframes loader2Animation {
    0%  { background-size: 20% 100%, 20% 100%, 20% 100%; }
    33% { background-size: 20% 10%, 20% 100%, 20% 100%; }
    50% { background-size: 20% 100%, 20% 10% , 20% 100%; }
    66% { background-size: 20% 100%, 20% 100%, 20% 10%; }
    100%{ background-size: 20% 100%, 20% 100%, 20% 100%; }
}
/* 系统组件 - 弹出窗口 */
div[unitPopup] {
    width: var( --vw );
    height: var( --vh );
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
}
div[unitPopup], div[unitPopup] * { transition: 200ms ease; }
div[unitPopup].mask {
    background: rgb( var( --r0 ), 0 );
    pointer-events: all;
}
div[unitPopup] .glass {
    background: rgb( var( --r3 ), 0.15 );
    color: rgb( var( --r3 ) );
    border-radius: var( --radius );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
}
div[unitPopup] div.popupWindow {
    width: var( --width );
    max-width: calc( 100% - 40px );
    height: var( --height );
    max-height: calc( 100% - 100px );
    margin-top: calc( var( --vh ) * -1 );
    padding: calc( max( var(--padding) - 8px , 0px ) );
    background: rgb( var( --r6 ) );
    border: 1px solid rgb( var( --r1 ), 0.1 );
    border-radius: var( --radius );
    box-shadow: 0px 0px 8px rgb( var( --r1 ), 0.15 );
    position: relative;
}
div[unitPopup].mask.active { background: rgb( var( --r0 ), 0.6 ); }
div[unitPopup].active div.popupWindow { margin-top: 0px; }
div[unitPopup].popupHas div.popupWindow {
    animation: popupHas 200ms 1 linear;
}@keyframes popupHas{
    0%{ transform: scale( 1 ); }
    25%{ transform: scale( 1.05 ); }
    50%{ transform: scale( 0.95 ); }
    75%{ transform: scale( 1.03 ); }
    100%{ transform: scale( 1 ); }
}
div[unitPopup].popupIn div.popupWindow {
    animation: popupIn 200ms 1 linear;
}@keyframes popupIn{
    0% { margin-top: calc( var( --vh ) * -1 ); }
    40% { margin-top: 30px; }
    55% { margin-top: -30px; }
    70% { margin-top: 30px; }
    85% { margin-top: -30px; }
    100% { margin-top: 0px; }
}
div[unitPopup].popupOut div.popupWindow {
    animation: popupOut 200ms 1 linear;
}@keyframes popupOut{
    0%{ margin-top: 0px; }
    30% { margin-top: 30px; }
    100%{ margin-top: calc( var( --vh ) * -1 ); }
}
div[unitPopup].minimize div.popupWindow {
    width: 200px;
    height: calc(var(--titleHeight) + 34px);
    overflow: hidden;
}
div[unitPopup].minimize div.popupTitle div.popupTitleLeft { width: 100% !important; }
div[unitPopup].minimize div.popupTitle div.popupTitleRight { display: none; }
div[unitPopup].minimize div.popupContent { margin-top: 20px; }
div[unitPopup].minimize div.popupButton { display: none; }
div[unitPopup].maximize div.popupWindow {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 0px;
    top: 0px !important;
    left: 0px !important;
}
div[unitPopup] div.popupWindow.dragging {
    transform: scale( 1.05 );
}
div[unitPopup] div.popupWindow, div[unitPopup] div.popupWindow * {
    pointer-events: all;
    box-sizing: border-box;
}
div[unitPopup] div.popupTitle, div[unitPopup] div.popupButton {
    width: calc( 100% - ( var( --padding ) * 2 ) );
    position: absolute;
    left: var( --padding );
}
div[unitPopup] div.popupTitle {
    --size: var( --titleHeight );
    height: var( --titleHeight );
    top: var( --padding );
}
div[unitPopup] div.popupTitle i { font-weight: bold; }
div[unitPopup] div.popupTitle div.popupTitleLeft {
    float: left;
    width: calc( 100% - 110px - 8px );
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}
div[unitPopup] div.popupWindow.draggable div.popupTitle div.popupTitleLeft {
    cursor: move;
    touch-action: none;
    user-select: none;
}
div[unitPopup] div.popupTitle div.popupTitleLeft i.icon {
    float: left;
}
div[unitPopup] div.popupTitle div.popupTitleLeft span {
    display: block;
    width: auto;
    max-width: calc( 100% - var( --size ) - 8px );
    height: var( --size );
    padding: 0px 8px;
    line-height: var( --size );
}
div[unitPopup] div.popupTitle div.popupTitleRight {
    float: right;
    width: 110px;
    height: 100%;
    margin-left: 8px;
    text-align: right;
}
div[unitPopup] div.popupTitle div.popupTitleRight i { cursor: pointer; }
div[unitPopup] div.popupContent {
    width: 100%;
    height: auto;
    min-height: 130px;
    max-height: var( --contentHeight );
    padding: calc( var( --titleHeight ) + 16px ) 8px calc( var( --buttonHeight ) + 16px ) 8px;
}
div[unitPopup] div.popupButton {
    display: flex;
    height: var( --buttonHeight );
    bottom: var( --padding );
    gap: 8px;
}
div[unitPopup] div.popupButton div.popupButtonItem {
    flex: 1;
    height: 100%;
    line-height: var( --buttonHeight );
    text-align: center;
    cursor: pointer;
}
div[unitPopup] div.popupButton div.popupButtonItem, div[unitPopup] div.popupButton div.popupButtonItem * {
    font-weight: bold;
}
/* 按钮样式 */
button[unitButton] {
    --size: 34px;
    --padding: 16px;
    --font: var( --fontSize );
    --maskSizeAnimation: 4px;
    --maskSize: 0px;
    width: auto;
    height: calc( var( --size ) );
    padding: 0px;
    background: none;
    border: none;
    border-radius: none;
    cursor: pointer;
    position: relative;
}
button[unitButton].stop { pointer-events: none; cursor: default; opacity: 0.75; }
button[unitButton].typesmall {
    --size: 30px;
    --padding: 12px;
    --font: calc( var( --fontSize ) - 2px );
    --maskSizeAnimation: 2px;
}
button[unitButton].typebig {
    --size: 38px;
    --padding: 20px;
    --font: calc( var( --fontSize ) + 2px );
    --maskSizeAnimation: 5px;
}
button[unitButton] * {
    color: rgb( var( --color ) );
    font-size: var( --font );
    text-decoration: none;
}
button[unitButton] .buttonMask {
    width: calc( 100% + ( var( --maskSize ) * 2 ) );
    height: calc( 100% + ( var( --maskSize ) * 2 ) );
    background: rgb( var( --background ), 0.25 );
    border-radius: calc( var( --radius ) + 2px );
    transition: all 200ms ease;
    animation: none;
    position: absolute;
    left: calc( var( --maskSize ) * -1 );
    top: calc( var( --maskSize ) * -1 );
    z-index: 0;
}
button[unitButton]:hover .buttonMask { --maskSize: var( --maskSizeAnimation ); }
button[unitButton].buttonClick .buttonMask {
    animation: buttonClick 150ms 1 linear;
}@keyframes buttonClick{
    0%{ width: calc( 100% + calc( var( --maskSizeAnimation ) * 2 ) ); height: calc( 100% + calc( var( --maskSizeAnimation ) * 2 ) ); top: calc( var( --maskSizeAnimation ) * -1 ); left: calc( var( --maskSizeAnimation ) * -1 ); }
    50%{ width: 100%; height: 100%; top: 0px; left: 0px; }
    100%{ width: calc( 100% + calc( var( --maskSizeAnimation ) * 2 ) ); height: calc( 100% + calc( var( --maskSizeAnimation ) * 2 ) ); top: calc( var( --maskSizeAnimation ) * -1 ); left: calc( var( --maskSizeAnimation ) * -1 ); }
}
button[unitButton] div.buttonContent {
    display: flex;
    height: 100%;
    padding: 0px var( --padding );
    background: rgb( var( --background ) );
    border-radius: var( --radius );
    align-items: center;
    position: relative;
    z-index: 1;
}
button[unitButton] div.buttonContent i.buttonIcon {
    margin-left: calc( ( var( --padding ) * -1 ) + ( var( --padding ) / 4 ) );
}
button[unitButton] div.buttonContent.onlyIcon i.buttonIcon {
    margin-left: calc( var( --padding ) * -1 );
    margin-right: calc( var( --padding ) * -1 );
}
/* 容器卡片 */
div[unitCard] {
    --padding: calc( var( --step ) * 3 );
    background: rgb( var( --background ) );
    margin-bottom: calc( var( --step ) * 3 );
    color: rgb( var( --color ) );
    border: 1px solid rgb( var( --color ), 0.1 );
    border-radius: var( --radius );
    box-sizing: border-box;
    overflow: hidden;
}
div[unitCard] div.cardTitle {
    --margin: calc( var( --step ) * 1.3 );
    width: 100%;
    padding: var( --margin ) var( --padding );
    border-bottom: 1px solid rgb( var( --color ), 0.1 );
    box-sizing: border-box;
}
div[unitCard] div.cardTitle span {
    display: inline-block;
    width: calc( 100% - 80px );
    line-height: 20px;
}
div[unitCard] div.cardTitleRight {
    float: right;
}
div[unitCard] div.cardTitleRight i {
    float: right;
    width: 26px;
    height: 26px;
    margin-top: -4px;
    margin-left: 4px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb( var( --color ), 0.1 );
    border-radius: var( --radius );
}
div[unitCard].close div.cardTitleRight i:not(.status) { display: none; }
div[unitCard] div.cardContent {
    padding: var( --padding );
    box-sizing: border-box;
    overflow: hidden;
}
div[unitCard].close div.cardContent { display: none; }
@media ( max-width: 580px ) {
    div[unitCard] {
        --padding: calc( var( --step ) * 2 );
    }
    div[unitCard] div.cardTitle {
        --margin: calc( var( --step ) * 1.1 );
    }
}
/* 布局组件 */
ul[unitLayout] {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
ul[unitLayout] > li { display: block; border: 1px solid red; }
ul[unitLayout].layout-ordinary {
    display: flex;
    flex-wrap: wrap;
    gap: var( --gap );
}
ul[unitLayout].layout-ordinary > li { display: inline-block; }
ul[unitLayout].layout-list {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( var( --width ), 1fr ) );
    gap: var( --gap );
}
ul[unitLayout].layout-row {
    display: grid;
    grid-template-columns: repeat( var( --count ), 1fr );
    gap: var( --gap );
}
ul[unitLayout].layout-fall {
    column-count: var( --count );
    column-gap: var( --gap );
}
ul[unitLayout].layout-fall > li {
    display: inline-block;
    width: 100%;
    margin: 0px 0px var( --gap ) 0px;
    break-inside: avoid;
}
@media ( max-width: 580px ) {
    ul[unitLayout].layout-fall {
        column-count: 1;
    }
}
ul[unitLayout].layout-left, ul[unitLayout].layout-right {
    display: flex;
    gap: 8px;
}
ul[unitLayout].layout-left > li:first-child {
    width: var( --width );
    flex: 0 0 var( --width );
}
ul[unitLayout].layout-left > li:last-child {
    flex: 1;
}
ul[unitLayout].layout-right > li:first-child {
    flex: 1;
}
ul[unitLayout].layout-right > li:last-child {
    width: var( --width );
    flex: 0 0 var( --width );
}
@media ( max-width: 680px ) {
    ul[unitLayout].layout-left, ul[unitLayout].layout-right {
        display: grid;
        grid-template-columns: repeat( 1, 1fr );
    }
    ul[unitLayout].layout-left > li, ul[unitLayout].layout-right > li {
        display: block;
        width: 100% !important;
    }
}